main {
    width: 400px;
}

.jatekter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.jatekter div {
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: green;
}

.felkapcs {
    background-color: rgb(233, 230, 39) !important;
}